*{
  box-sizing: border-box;
};
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#adding-flight-form{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  border: red 5px solid
};
#submit-button{
  width: 100px;
}
/* /////////////////////////////////////////////////////////////////// */
.from-container{
  align-items: center;
  width: 35%;
  display: grid;
  grid-template-columns: auto auto;
}
.arrival-container{
  align-items: center;
  width: 30%;
  display: grid;
  grid-template-columns: auto auto;
}
.container-show{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.ticket-container{
 align-items: center;
  width: 30%;
  display: grid;
  grid-template-columns: auto auto;
}
